* {
  box-sizing: border-box;
  margin: 0%;
}
.container {
  width: 100vw;
  height: 96vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .containerMiddle {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    width: 90%;
    height: 100%;
  }
  .container .animationLoadingCss {
    margin: 0px auto;
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .containerMiddle {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    width: 90%;
    height: 100%;
  }
}

/* Laptop/Desktop Styles */
@media screen and (min-width: 1024px) {
  .containerMiddle {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    width: 50%;
    height: 100%;
  }
  .container .animationLoadingCss {
    width: 40%;
  }
}
