@media screen and (max-width: 767px) {
  .searchBox {
    width: 100dvw;
    height: 5cap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1.5px 3px 0px black;
  }
  .controlSearchBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .searchBox .iconLocation {
    width: 2.5cap;
    height: auto;
    margin: 1%;
    margin-left: 2%;
  }

  .searchBox .searchInput {
    width: 75%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: black;
    background: transparent;
  }
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .searchBox {
    width: 100dvw;
    height: 7cap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1.5px 3px 0px black;
  }
  .controlSearchBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .searchBox .iconLocation {
    width: 3%;
    height: auto;
    margin: 1%;
    margin-left: 2%;
  }

  .searchBox .searchInput {
    width: 80%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: black;
    background: transparent;
  }
}

/* Laptop/Desktop Styles */
@media screen and (min-width: 1024px) {
  .searchBox {
    width: 100%;
    height: 5cap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1.5px 3px 0px black;
  }
  .controlSearchBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .searchBox .iconLocation {
    width: 3%;
    height: auto;
    margin: 1%;
  }

  .searchBox .searchInput {
    width: 88%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    color: black;
    background: transparent;
  }
  .days {
    margin-top: 5%;
    width: 100%;
    height: 20cap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .currentDate {
    width: 15%;
    height: 100%;
  }
  .datelist {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20cap;
  }

  .datelist .maxTemperature {
    width: 70%;
    margin-left: 15%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
  }
  .currentDate:hover {
    border: 2px solid black;
  }
  .weathericons {
    width: 40%;
  }
}
